<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" charset="UTF-8">
<head th:replace="fragments/head"/>
<body>
<!-- Top navegation -->
<nav th:replace="fragments/nav"/>


<div class="container">
    <h2 th:text="#{bought.title.message}"></h2>

    <div class="table-responsive">
        <table class="table table-hover" th:fragment="tableProducts"
               id="tableProducts">
            <thead>
            <tr>
                <th th:text="#{product.field.title}"></th>
                <th th:text="#{product.field.description}"></th>
                <th th:text="#{product.field.price}"></th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productList}">
                <td th:text="${product.title}">Title</td>
                <td th:text="${product.description}">Description</td>
                <td th:text="${product.getFormatedPrice()}+' €'">15 €</td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments/pagination"/>

</div>


</body>
</html>
