<!DOCTYPE html>
<html lang='es'>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="/img/icon-1.png"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">

    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <title></title>
</head>
<body>
<div class="logo-container">
    <img class="logo" src="/img/logo-1.png" alt="logo." title="logo."/>
</div>
<div class="buttons-container">
    <div class="buttons">
        <a href="/signup" class="btn btn-primary" id="signUpButton">
            Sign Up
        </a>
        <a href="/login" class="btn btn-primary" id = "loginButton">
            Log In
        </a>
    </div>
</div>
</body>

</html>